.table {
    max-width: 85%;
    margin: 0px auto;
    float: none;
}

#toppr {
    max-width: 55%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#botprli {
    border: 1px solid black;
    left: 10px;
}

.row {
    padding: 15px;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
}

td {
    padding-bottom: 15px;
}

caption {
    font-weight: bold;
    font-size: 1.4em;
}