<app-menu></app-menu>
<div class='component-content'>
    
  </div>
  <p *ngIf='!purchaseRequests' class= 'text-danger font-weight-bold' style='font-size: 25px'>Make sure you have reviewer role before trying to access this area...</p>
  <table class="table table-sm" *ngIf='purchaseRequests' id="prtable">
    <caption>Purchase Requests for Review</caption>
    <tr class='stky-hdr'>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Id</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>User</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Description</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Justification</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Date Needed</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Delivery Mode</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Status</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Total</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Submitted Date</u></a>
      </th>
      <th class="table-secondary btn-link">
        <a class="btn btn-link font-weight-bold"><u>Reason for Rejection?</u></a>
      </th>
      <th class="table-secondary btn-link">
          <a class="btn btn-link font-weight-bold"><u>Actions</u></a>
        </th>
    </tr>
    <tr *ngFor='let purchaseRequest of purchaseRequests'>
      <td>{{purchaseRequest.id}}</td>
      <td>{{purchaseRequest.user.userName}}</td>
      <td>{{purchaseRequest.description}}</td>
      <td>{{purchaseRequest.justification}}</td>
      <td>{{purchaseRequest.dateNeeded}}</td>
      <td>{{purchaseRequest.deliveryMode}}</td>
      <td>{{purchaseRequest.status}}</td>
      <td>{{purchaseRequest.total}}</td>
      <td>{{purchaseRequest.submittedDate}}</td>
      <td>{{purchaseRequest.reasonForRejection}}</td>
   
        <td class='actions'>
            <a routerLink='/pr/approve/{{purchaseRequest.id}}'><img src='assets/review.png' width='20' height='20' title='Approve'></a>
            <a routerLink='/pr/lines/list/{{purchaseRequest.id}}'><img src='assets/lines.png' width='20' height='20' title='Line Items'></a>
          </td>
      
    </tr>
  </table>
  <router-outlet></router-outlet>

