<app-menu></app-menu>
<div class='component-content'>
      
       <table class="table" id="dettable" *ngIf='purchaseRequest'>
         <caption>Purchase Request Detail</caption>
      <tr>
        <td class="colfirst">Id</td><td>{{ purchaseRequest.id}}</td>
      </tr>
      <tr>
        <td class="colfirst">User Name</td><td>{{ purchaseRequest.user.userName }}</td>
      </tr>
      <tr>
        <td class="colfirst">Description</td><td>{{ purchaseRequest.description }}</td>
      </tr>
      <tr>       
        <td class="colfirst">Status</td><td>{{ purchaseRequest.status }}</td>
      </tr>
      <tr>       
        <td class="colfirst">Total</td><td>{{ purchaseRequest.total }}</td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: center">
              <a routerLink='/pr/edit/{{purchaseRequest.id}}' class='btn btn-primary' title='Edit'>Edit</a>
              <button (click)='submit()' class='btn btn-primary'>Submit for Review</button>     
              <button (click)="remove()" class='btn btn-danger'style="margin-left: 20px;" title='Delete'>Remove</button>
            </td>
      </tr>
    </table>
   
  </div>
  
